/* == MAIN CONTAINER FOR CONTROL BUTTONS ====================== */
#geocoder-container {
    position: absolute;
    top: 10px;
    right: 100px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 250px;
    width: auto;
}

#geocoder-container > div {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

/* General button styling for both buttons */
.mapboxgl-ctrl-point-center, .mapboxgl-ctrl-parea, .mapboxgl-ctrl-three, .mapboxgl-ctrl-four, .mapboxgl-ctrl-sZoom {
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    border: none;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin-right: 5px;
}

/* button BLUE MARKER CENTER */
.mapboxgl-ctrl-point-center {
    background-image: url('https://www.ese-llc.com/s/marker-blue-center.svg'); /* Ruler icon (example) */
}

/* print area button custom styling */
.mapboxgl-ctrl-parea {
    background-image: url('https://www.ese-llc.com/s/square-50.png'); /* Box icon (example) */
}

/* three button custom styling */
.mapboxgl-ctrl-three {
    background-image: url('https://img.icons8.com/ios-filled/50/000000/ruler0692n.png'); /* Ruler icon (example) */
}

/* four button custom styling */
.mapboxgl-ctrl-four {
    background-image: url('https://img.icons8.com/ios-filled/50/000000/ruler0692n.png'); /* Ruler icon (example) */
}

/* sZoom scale to zoom button custom styling */
.mapboxgl-ctrl-sZoom {
    background-image: url('https://www.ese-llc.com/s/scale-zoom.png'); /* Ruler icon (example) */
}

/* Hover effect for all buttons */
.mapboxgl-ctrl-print:hover, .mapboxgl-ctrl-point:hover, .mapboxgl-ctrl-measure:hover, .mapboxgl-ctrl-septicMap:hover, .mapboxgl-ctrl-zoom:hover {
    background-color: #f0f0f0;
}
.mapboxgl-ctrl-point-center:hover, .mapboxgl-ctrl-parea:hover, .mapboxgl-ctrl-three:hover, .mapboxgl-ctrl-four:hover, .mapboxgl-ctrl-sZoom:hover {
    background-color: #f0f0f0;
}
.mapboxgl-ctrl-point-off:hover, .mapboxgl-ctrl-seven:hover, .mapboxgl-ctrl-clear:hover, .mapboxgl-ctrl-nine:hover, .mapboxgl-ctrl-ten:hover {
    background-color: #f0f0f0;
}

/* button PRINT */
.mapboxgl-ctrl-print {
    background-image: url('https://img.icons8.com/ios-glyphs/30/000000/print.png'); /* Print icon */
}

/* button BLUE MARKER RANDOM */
.mapboxgl-ctrl-point {
    background-image: url('https://www.ese-llc.com/s/marker-blue-random.svg'); /* Pointing hand icon */
}

/* Measure button custom styling */
.mapboxgl-ctrl-measure {
    background-image: url('https://www.ese-llc.com/s/marker-blue-measure.svg');
}

/* Septic Map button custom styling */
.mapboxgl-ctrl-septicMap {
    background-image: url('https://img.icons8.com/ios-filled/50/000000/map09n47.png'); /* Water icon (example) */
}

/* Measure button custom styling */
.mapboxgl-ctrl-zoom {
    background-image: url('https://www.ese-llc.com/s/zoom.png'); /* zoom icon (example) */
}

/* General button styling for both buttons */
.mapboxgl-ctrl-point-off, .mapboxgl-ctrl-seven, .mapboxgl-ctrl-clear, .mapboxgl-ctrl-nine, .mapboxgl-ctrl-ten {
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    border: none;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin-right: 5px;
}

.mapboxgl-ctrl-point,
.mapboxgl-ctrl-print,
.mapboxgl-ctrl-measure,
.mapboxgl-ctrl-septicMap,
.mapboxgl-ctrl-zoom {
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    border: none;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin-right: 5px;
}

/* button BLUE MARKER OFF */
.mapboxgl-ctrl-point-off {
    background-image: url('https://www.ese-llc.com/s/marker-blue-off.svg'); /* Ruler icon (example) */
}

/* seven button custom styling */
.mapboxgl-ctrl-seven {
    background-image: url('https://img.icons8.com/ios-filled/50/000000/ruler0692n.png'); /* Ruler icon (example) */
}

/* eight button custom styling */
.mapboxgl-ctrl-clear {
    background-image: url('https://www.ese-llc.com/s/marker-blue-measure-cancel.svg');
	}

/* nine button custom styling */
.mapboxgl-ctrl-nine {
    background-image: url('https://img.icons8.com/ios-filled/50/000000/ruler0692n.png'); /* Ruler icon (example) */
}

/* ten button custom styling */
.mapboxgl-ctrl-ten {
    background-image: url('https://img.icons8.com/ios-filled/50/000000/ruler0692n.png'); /* Ruler icon (example) */
}

.mapboxgl-ctrl-share {
    width: 240px;
    height: 40px;
    background-color: white; 
    color: black;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    text-align: center;
    line-height: 40px;
}

.custom-tooltip {
    position: absolute;
    background: rgba(0, 0, 0, 0.85);
    color: white;
    padding: 0px 4px;
    border-radius: 5px;
    font-size: 10px;
    white-space: nowrap;
    z-index: 1000;
    pointer-events: none;
    transform: translateX(-50%);
    opacity: 0; /* Start hidden */
    transition: opacity 0.3s ease; /* Smooth transition */
}


#distanceWindow div:nth-child(2) {
    text-align: right;
}